<app-slider-section
  title="Tuyến đường phổ biến"
  titleBorderColor="#40a944"
  titleBgColor="#f9ffe7"
  [tightTitleTop]="true"
  [useGridLayout]="true"
  [canGoPrev]="canGoPrev"
  [canGoNext]="canGoNext"
  (prevClick)="onPrevClick()"
  (nextClick)="onNextClick()">
  <div class="routes-container">
    <app-orange-card
      *ngFor="let route of currentRoutes"
      layout="text-first"
      [cardWidth]="260"
      [cardHeight]="286"
      [imageHeight]="170"
      [imageUrl]="'/assets/img/home/' + route.image"
      [title]="route.title"
      [subtitle]="route.description"
      [imageAlt]="route.title"
      titleColor="#28A745"
      subtitleColor="#666">
    </app-orange-card>
  </div>
</app-slider-section>