<app-slider-section
  title="Ưu đãi nổi bật"
  titleBorderColor="#40a944"
  titleBgColor="#f9ffe7"
  [tightTitleTop]="true"
  [useGridLayout]="false"
  arrowsPosition="bottom"
  [canGoPrev]="canGoPrev"
  [canGoNext]="canGoNext"
  (prevClick)="onPrevClick()"
  (nextClick)="onNextClick()">
  <div class="banner" (mouseenter)="onBannerHover()" (mouseleave)="onBannerLeave()">
    <img class="banner-pc" [src]="'assets/img/common/' + currentBannerData.image" [alt]="currentBannerData.alt" />
  </div>
</app-slider-section>