<app-slider-section
  title="Bến xe phổ biến"
  titleBorderColor="#40a944"
  [useGridLayout]="true"
  [canGoPrev]="canGoPrev"
  [canGoNext]="canGoNext"
  (prevClick)="onPrevClick()"
  (nextClick)="onNextClick()">
  <div class="stations-container">
    <app-orange-card
      *ngFor="let station of currentStations"
      layout="image-first"
      [cardWidth]="260"
      [cardHeight]="262"
      [imageHeight]="170"
      [imageUrl]="'assets/img/bus-stations/' + station.image"
      [title]="station.name"
      [subtitle]="station.location"
      [subtitleColor]="'#666'"
      [imageAlt]="station.name">
    </app-orange-card>
  </div>
</app-slider-section>