<app-slider-section
  title="Nhà xe phổ biến"
  titleBorderColor="#40a944"
  [canGoPrev]="canGoPrev"
  [canGoNext]="canGoNext"
  (prevClick)="onPrevClick()"
  (nextClick)="onNextClick()">
  <div class="companies-container">
    <app-orange-card
      *ngFor="let company of currentCompanies"
      layout="image-first"
      [cardHeight]="219"
      [imageHeight]="170"
      [imageUrl]="'assets/img/bus-companies/' + company.image"
      [title]="company.name"
      [imageAlt]="company.name">
    </app-orange-card>
  </div>
</app-slider-section>